<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd">
	    
	<bean class = "controller.popcorn.GoodsController"/>
	<bean class = "controller.popcorn.GoodsWriterController"/>
	<bean class = "controller.popcorn.GoodsDetailController"/>
	<bean class = "controller.popcorn.GoodsModifyController"/>
	<bean class = "controller.popcorn.MenuController"/>
	<bean class = "controller.popcorn.MenuDeleteController"/>
	

	
</beans>