<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Controllers -->
	<bean class="controller.theater.TheaterListController" />
	<bean class="controller.theater.TheaterDetailController" />
	
	<bean class="controller.screen.ScreenAddController" />
	<bean class="controller.screen.ScreenDetailController" />
	<bean class="controller.screen.ScreenModifyController" />
	<bean class="controller.screen.ScreenDeleteController" />
	
	<bean class="controller.movie.MovieRegisterController" />
	<bean class="controller.movie.MovieListController" />
	<bean class="controller.movie.MovieDetailController" />
	<bean class="controller.movie.MovieModifyController" />
	<bean class="controller.movie.MovieDeleteController" />
	
	<bean class="controller.showtime.ShowtimeRegisterController" />
	<bean class="controller.showtime.ShowtimeListController" />
	
	<bean class="controller.showReserve.ShowReserveRegisterController" />
	<bean class="controller.showReserve.ShowReserveListController" />
	
	<!-- Services -->
	<bean id="movieInfoAPIService" class="service.movie.MovieInfoAPIService" />
	<bean id="movieRegisterService" class="service.movie.MovieRegisterService" />
	<bean id="movieListService" class="service.movie.MovieListService" />
	<bean id="movieDetailService" class="service.movie.MovieDetailService" />
	<bean id="movieModifyService" class="service.movie.MovieModifyService" />
	<bean id="movieDeleteService" class="service.movie.MovieDeleteService" />
	
	<bean id="screenAddService" class="service.screen.ScreenAddService" />
	<bean id="screenListService" class="service.screen.ScreenListService" />
	<bean id="screenDetailService" class="service.screen.ScreenDetailService" />
	<bean id="screenModifyService" class="service.screen.ScreenModifyService" />
	<bean id="screenDeleteService" class="service.screen.ScreenDeleteService" />
	
	<bean id="showtimeRegisterService" class="service.showtime.ShowtimeRegisterService" />
	<bean id="showtimeListService" class="service.showtime.ShowtimeListService" />
	<bean id="showtimeDetailService" class="service.showtime.ShowtimeDetailService" />
	
	<bean id="showReserveRegisterService" class="service.showReserve.ShowReserveRegisterService" />
	<bean id="showReserveListService" class="service.showReserve.ShowReserveListService" />
	<bean id="showReserveModifyService" class="service.showReserve.ShowReserveModifyService" />
	
	<!-- Repositories -->
	<bean id="movieRepository" class="repository.movie.MovieRepository" />
	<bean id="screenRepository" class="repository.screen.ScreenRepository" />
	<bean id="showtimeRepository" class="repository.showtime.ShowtimeRepository" />
	<bean id="showReserveRepository" class="repository.showReserve.ShowReserveRepository" />
	
</beans>