@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: inherit;
}
* {
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #000;
}
#wrap { width:100%; height:100%; }

#wraper #unisafe{
	 margin-left: 200px;
}


#wrap #contents {
    margin: 0px 0 100px;
    width: 1280px;
    height:auto;
    
    margin-top:100px;
}

<!-- header css -->

 #top_fixed .top_cate {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 49px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    background-color: rgba( 255,255,255,0.9 );
    z-index: 98;
}

.xans-layout-category .position > ul {
    padding: 0px;
    font-size: 0;
    line-height: 0;
}

#top_fixed{
	margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 49px;
    text-align: center;
/*     border-top: 1px solid #e6e6e6; */
/*     border-bottom: 1px solid #e6e6e6; */
    background-color: rgba( 255,255,255,0.9 );
    z-index: 98;
}

#top_fixed .top_cate ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.xans-layout-category {
    margin: 0 auto;
    text-align: center;
    width: 1280px;
    height: 49px;
    background-color: rgba( 255,255,255,0 );
    z-index: 98;
}
body, code {
    font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
    color: #353535;
    background: #fff;
}


#top_fixed .header__menulist .headerQuick li {  float: left; background: url(../images/bar_header_quick.gif) no-repeat 0 35%; font-size: 11px;}
#top_fixed .header__menulist .headerQuick li.reciept {   display: inline-block; height: auto;}
#top_fixed .header__menulist .headerQuick { position: absolute;  right: 80px; top: 10px;}
#top_fixed { width: 100%; height: auto;  position: relative;  margin-bottom: 20px; z-index: 99; }
#top_fixed .header__menulist { margin: 0 auto 0; position: relative; z-index: 2; background-color: #fff;}
#top_fixed .header__menulist .headerQuick li:first-child {
    padding-left: 0px;
    background: none;
    margin-left: 0px;
}

.header__wrapper {
  position: relative;
  width: 970px;
  margin: 0 auto;
}


#naver_ico {

  height: 25px;
  -webkit-background-size: 1742px 1452px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-indent: 102%;
}

#blank{border-bottom: 2px solid #01adef; height:130px;}

<!-- 메인 상단 카테고리 -->


#wraper #container {
    width: 100%;
    height :900px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.xans-layout-category .position > ul > li {
    position: relative;
    display: inline-block;
    width: auto;
    height: 49px;
    padding: 0 27px 0px;
}
li {
    list-style: none;
}
.xans-layout-category .position > ul > li > a {
    font-family: 'Sunflower', sans-serif;
    font-size: 15px;
    line-height: 49px;
    text-align: left;
    color: #333;
    text-decoration: none;
}

 .carousel-inner img {
    width: 100%;
    height: 100%;
  }

<!-- 메인 상품 리스트 -->

.topcontent  {
	width:100%;
	height:500px;
border-bottom: 1px solid #e6e6e6;
}

.xans-product-menupackage .menuCategory {
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding: 10px 15px 30px 15px;
}

#contents {
    margin: 0px 0 100px;
    width: 1280px;
}

.xans-product-menupackage .title {
    min-height: 30px;
    margin: 10px 0 20px;
   
}

.xans-element- xans-product xans-product-menupackage{
bottom-border: 1px solid #e6e6e6;
}

.xans-product-menupackage .title h2 {
    margin: 0 0px 7px;
    width: 100%;
    padding: 10px 0 10px;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    *display: inline;
    *zoom: 1;
     font-family: 'Sunflower', sans-serif;
    letter-spacing: 1px;
}

 .function {
    overflow: hidden;
    text-align: right;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e6e6e6;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.xans-product-normalmenu .prdCount {
    float: left;
    font-size: 10px;
    padding: 0 0 0 10px;
    color: #5b5b5b;
}

.xans-product-normalmenu p {
    margin: 0 auto;
    text-align: center;
    font-family: Verdana,Arial,"돋움",Dotum,'Apple SD Gothic Neo',AppleGothic,sans-serif;
}

#product tr td{
	 font-family: 'Sunflower', sans-serif;
}


#product tr td a{
	 font-family: 'Sunflower', sans-serif;
	 text-decoration: none;
}

#productList tr td{
	 font-family: 'Sunflower', sans-serif;
	 text-decoration: none;
}
#productList tr td a{
	 font-family: 'Sunflower', sans-serif;
	 text-decoration: none;
}
#productList tr td input[type=submit] {
	width: 30px;
	background-color: #00bbff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size:10px;
	 font-family: 'Sunflower', sans-serif;
}
#productList tr td input[type=button] {
	width: 150px;
	height :40px;
	background-color: #00bbff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size:20px;
	 font-family: 'Sunflower', sans-serif;
}
#cartEmpty table tr td
{
	font-family: 'Sunflower', sans-serif;
}
.table11 {
	width: 740px;
	border-top: 2px solid #454545;
	border-bottom: 1px solid #dedede;

}

.table11 table {
	width: 100%;
}

.table11 table tbody tr th {
	text-align: left;
	padding-left: 20px;
	font-size: 15px;
	
	vertical-align: middle;
	border-bottom: 1px solid #dedede;
	font-family: 'Sunflower', sans-serif;
}

.table11 table tbody tr th img {
	vertical-align: middle;
}

.table11 table tbody tr th span {
	display: inline-block;
	width: 10px;
}

.table11 table tbody tr td {
	padding: 10px 0;
	height: 24px;
	line-height: 14px;
	border-bottom: 1px solid #dedede;
	color: #777777;
	vertical-align: middle;
	font-family: 'Sunflower', sans-serif;
}

.table11 table tbody tr td .input_text {
	border: 1px solid #c0c0c0;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	vertical-align: middle;
}

.table11 table tbody tr td .select {
	border: 1px solid #c0c0c0;
	height: 24px;
	vertical-align: middle;
}

.table11 table tbody tr td img {
	vertical-align: middle;
}

.table11 table tbody tr td .essential {
	display: inline-block;
	width: 10px;
}

.table11 table tbody tr td label {
	color: #090909;
	width: 77px;
	display: inline-block;
	font-weight: bold;
}

.table11 table tbody tr td .newsCheck .input_check {
	margin-left: 40px;
}

.table11 table tbody tr td .newsCheck .input_check:first-child {
	margin-left: 0px;
}

.table11 table tbody tr td textarea {
	width: 580px;
	max-width: 580px;
	height: 98px;
	border: 1px solid #c0c0c0;
	padding: 5px;
	line-height: 18px;
}

.table11 table tbody tr td span {
	color: #090909;
}

.table11 table tbody tr td span.gray {
	color: #777777;
}

.table11 table tbody tr td span.agree {
	color: #0098fb;
}

.table11 table tbody tr td span.warning {
	color: #E33E3E;
}

.table11 table tbody tr td span.blue {
	color: #00acee;
}

.table11 table tbody tr td span.blank {
	color: #000;
}

.table11 table tbody tr td span.btnModify {
	display: inline-block;
	line-height: 22px;
	height: 22px;
	width: 38px;
	text-align: center;
	border: 1px solid #dedede;
	background-color: #f8f8f8;
	font-size: 13px;
}

.table11 table tbody tr td ul li {
	float: left;
	margin-left: 30px;
	color: #4a4a4a;
	line-height: 24px;
}
.table11  input[type=submit] {
	width: 210px;
	background-color: #00bbff;
	color: white;
	padding: 10px 16px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.table11  input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.bt_reviewWrite {
   
    float: right;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 4px 0 0px;
    color: #333;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-family: 'Sunflower', sans-serif;
    
}
.review a{ 
text-decoration: none;
 
}

