@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: inherit;
}
* {
    -webkit-text-size-adjust: none;
}
#wrap { width:100%; height:100%; }



#wrap #footer { clear:both; width:100%; height:150px; margin-left:10px; margin-top:10px; background:#EFF0F4; }
#wrap #contents {
    margin: 0px 0 100px;
    width: 1280px;
    height:auto;
    
    margin-top:100px;
}

<!-- header css -->

 #top_fixed .top_cate {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 49px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: rgba( 255,255,255,0.9 );
    z-index: 98;
}

.xans-layout-category .position > ul {
    padding: 0px;
    font-size: 0;
    line-height: 0;
}

#top_fixed{
	margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 49px;
    text-align: center;
/*     border-top: 1px solid #e6e6e6; */
/*     border-bottom: 1px solid #e6e6e6; */
    background-color: rgba( 255,255,255,0.9 );
    z-index: 98;
}

#top_fixed .top_cate ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.xans-layout-category {
    margin: 0 auto;
    text-align: center;
    width: 1280px;
    height: 49px;
    background-color: rgba( 255,255,255,0 );
    z-index: 98;
}
body, code {
  
    color: #353535;
    background: #fff;
}


#blank{border-bottom: 2px solid #01adef;}
<!-- footer css -->
#footer {
    border-top: 1px solid #eaeaea;
    background-color: #eff0f4;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}

#footer .footerBox {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#footer .footerBox .menuWrap {
    overflow: hidden;
}

#footer .footerBox .menuBox {
    float: left;
    overflow: hidden;
    width: 790px;
}

#footer .footerBox .rightBox {
    position: absolute;
    right: 0;
    top: 0;
    width: 172px;
}

#footer .footerBox .footerBottom {
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #cbcbcb;
}

#footer .footerBox .footerBottom ul {
    overflow: hidden;
    font-size: 12px;
    color: #777;
}

#footer .footerBox .footerBottom ul li:first-child {
    background: none;
    padding-left: 0px;
    margin-left: 0px;
}

#footer .footerBox .footerBottom ul li {
    background: url(../images/bar_footer.gif) no-repeat 0 45%;
    padding-left: 9px;
    margin-left: 8px;
    float: left;
    line-height: 20px;
}

#footer .footerBox .footerBottom ul li a {
    font-size: 11px;
    color: #777;
}

ol, ul {
    list-style: none;
}

#footer .footerBox .footerBottom p {
    overflow: hidden;
    font-size: 13px;
    color: #777;
    line-height: 20px;
}



<!-- 메인 상단 카테고리 -->


#wraper #container {
    width: 100%;
    height :900px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.xans-layout-category .position > ul > li {
    position: relative;
    display: inline-block;
    width: auto;
    height: 49px;
    padding: 0 27px 0px;
}
li {
    list-style: none;
}
.xans-layout-category .position > ul > li > a {
  
    font-size: 15px;
    line-height: 49px;
    text-align: left;
    color: #333;
    text-decoration: none;
}



.xans-product-menupackage .menuCategory {
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding: 10px 15px 30px 15px;
}

#contents {
    margin: 0px 0 100px;
    width: 1280px;
}

.xans-product-menupackage .title {
    min-height: 30px;
    margin: 10px 0 20px;
}
.xans-product-menupackage .title h2 {
    margin: 0 0px 7px;
    width: 100%;
    padding: 10px 0 10px;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    *display: inline;
    *zoom: 1;
   
    letter-spacing: 1px;
}

 .function {
    overflow: hidden;
    text-align: right;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.xans-product-normalmenu .prdCount {
    float: left;
    font-size: 14px;
    padding: 0 0 0 10px;
    color: #5b5b5b;
  
}

.xans-product-normalmenu p {
    margin: 0 auto;
    text-align: center;
 
}
.xans-product-detail {
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.xans-product-detail .detailArea {
    padding: 0 0 0 500px;
    *zoom: 1;
}
.xans-product-detail .imgArea .keyImg img {
    max-width: 500px;
    border: 0px solid #ececec;
    cursor: pointer;
}
.xans-product-detail .detailArea:after {
    content: "";
    display: block;
    clear: both;
}
.xans-product-detail .imgArea .keyImg .thumbnail {
    display: inline-block;
    position: relative;
    max-width: 100%;
}
.xans-product-detail {
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
.xans-product-detail .imgArea {
    float: left;
    width: 500px;
    margin: 0 0 60px -406px;
}
.xans-product-detail .infoArea {
    width: 500px;
    margin: 0 0 0 186px;
}
.xans-product-detail .infoArea .icon {
    padding: 0 0 0 10px;
}
.xans-product-detail .infoArea td #span_product_price_text {
    font-weight: normal;
}
.xans-product-detail .infoArea .detail_title {
    padding: 10px 5px 10px 9px;
    border-bottom: 2px solid #e8e8e8;
    font-size: 20px;
    color: #2e2e2e;
 
    letter-spacing: 1px;
}
.xans-product-detail .infoArea th {
	font-family : Do+Hyeon;
    font-weight: normal;
    color: #353535;
    width: 115px;
    padding: 7px 0 8px 9px;
    text-align: left;
    vertical-align: middle;
  
}
.xans-product-detail .infoArea td {
    padding: 7px 6px 8px 0;
    vertical-align: middle;
 
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.xans-product-detail .infoArea table {
    border: 0;
    font-size: 12px;
    margin: 10px 0 0;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th, td {
    border: 0;
    vertical-align: top;
    font-size: 11px;
}

.xans-product-action .bt_modify {
    display: inline-block;
    float: left;
    width: 522px;
    height: 45px;
    line-height: 40px;
    margin: 0 4px 0 0px;
    color: #333;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
}
a {
    text-decoration: none;
    color: #000;
}
.xans-product-action .bt_cart {
    display: inline-block;
    float: left;
    width: 240px;
    height: 40px;
    line-height: 40px;
    margin: 0 4px 0 0px;
    color: #333;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-family: Open Sans
}
.xans-product-action .bt_order {
   display: inline-block;
    float: left;
    width: 240px;
    height: 40px;
    line-height: 40px;
    margin: 0 4px 0 0px;
    color: #333;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-family:Open Sans
}
