<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cheyongMapper">
	<cache />
	
	<!-- sql colums -->
	<sql id="CheyongColumns">
		CHE_NUM,CHE_SUBJECT,CHE_JIJOM,CHE_PERSON,CHE_JOGUN,CHE_BOCRI,CHE_JAGYUC,CHE_GITA,CHE_SIJAC,CHE_MAGAM
	</sql>
	<sql id="CheyongApplyColumns">
		R_NUM,CHE_NUM,M_NUM,R_HIJIJOM,R_GADATE,R_TIME,R_DIS,R_PRICE,R_CAREER,R_PER,R_JIWON,R_NALJA,R_JIN
	</sql>
	
	<!-- Select Map Part -->
	<resultMap type="model.DTO.CheyongApplyDTO" id="baseCheyongApplyMap" >
		<id column="R_NUM" jdbcType="VARCHAR" property="r_num"/>
		<id column="CHE_NUM" jdbcType="VARCHAR" property="che_num"/>
		<id column="M_NUM" jdbcType="VARCHAR" property="m_num"/>
		<result column="R_HIJIJOM" jdbcType="VARCHAR" property="r_hijijom"/>
		<result column="R_GADATE" jdbcType="VARCHAR" property="r_gadate"/>
		<result column="R_TIME" jdbcType="VARCHAR" property="r_time"/>
		<result column="R_DIS" jdbcType="VARCHAR" property="r_dis"/>
		<result column="R_PRICE" jdbcType="VARCHAR" property="r_price"/>
		<result column="R_CAREER" jdbcType="VARCHAR" property="r_career"/>
		<result column="R_PER" jdbcType="VARCHAR" property="r_per"/>
		<result column="R_JIWON" jdbcType="VARCHAR" property="r_jiwon"/>
		<result column="R_NALJA" jdbcType="DATE" property="r_nalja"/>
		<result column="R_JIN" jdbcType="VARCHAR" property="r_jin"/>
		<result column="M_NAME" jdbcType="VARCHAR" property="m_name" />
	</resultMap>
	<resultMap type="model.DTO.CheyongAddDTO" id="baseCheyongMap">
		<id column="CHE_NUM" jdbcType="VARCHAR" property="che_num"/>
		<result column="CHE_SUBJECT" jdbcType="VARCHAR" property="che_subject"/>
		<result column="CHE_JIJOM" jdbcType="VARCHAR" property="che_jijom" />
		<result column="CHE_PERSON" jdbcType="BIGINT" property="che_person" />
		<result column="CHE_JOGUN" jdbcType="VARCHAR" property="che_jogun"/>
		<result column="CHE_BOCRI" jdbcType="VARCHAR" property="che_bocri"/>
		<result column="CHE_JAGYUC" jdbcType="VARCHAR" property="che_jagyuc"/>
		<result column="CHE_GITA" jdbcType="VARCHAR" property="che_gita"/>
		<result column="CHE_SIJAC" jdbcType="DATE" property="che_sijac_string"/>
		<result column="CHE_MAGAM" jdbcType="DATE" property="che_magam_string"/>
	</resultMap>
	<resultMap type="tadto" id="baseTheaterMap">
		<id column="THEATER_NUM" jdbcType="VARCHAR" property="theater_num"/>
		<result column="THEATER_NAME" jdbcType="VARCHAR" property="theater_name"/>
		<result column="THEATER_ADDR1" jdbcType="VARCHAR" property="theater_addr1"/>
		<result column="THEATER_ADDR2" jdbcType="VARCHAR" property="theater_addr2"/>
		<result column="THEATER_ZIP" jdbcType="VARCHAR" property="theater_zip"/>
		<result column="THEATER_PH" jdbcType="VARCHAR" property="theater_ph"/>
		<result column="THEATER_SPECIAL" jdbcType="VARCHAR" property="theater_special"/>
		<result column="THEATER_RATING" jdbcType="VARCHAR" property="theater_rating"/>
	</resultMap>
	
	<!-- Select Part! -->
	<select id="selectAllApplys" resultMap="baseCheyongApplyMap">
		select r.R_NUM,r.CHE_NUM,r.M_NUM,m.M_NAME,r.R_HIJIJOM,r.R_NALJA,r.R_JIN from resume r, `member` m where m.`M_NUM`=r.`M_NUM`
	</select>
	<select id="selectApplyOne" parameterType="string" resultMap="baseCheyongApplyMap">
		select <include refid="CheyongApplyColumns" /> from resume
		<where>
			r_num = #{r_num}
		</where>
	</select>
	<select id="selectMyResumes" parameterType="string" resultMap="baseCheyongApplyMap">
		select <include refid="CheyongApplyColumns" /> from resume
		<where>
			M_NUM = #{num}
		</where>
	</select>
	<select id="selectOneCheyong" parameterType="string" resultMap="baseCheyongMap">
		select <include refid="CheyongColumns" /> from gonggo
		<where>
			CHE_NUM = #{num}
		</where>
	</select>
	<select id="selectAllCheyong" resultMap="baseCheyongMap">
		select <include refid="CheyongColumns" /> from gonggo
	</select>
	<select id="selectJijom" parameterType="string" resultMap="baseTheaterMap">
		select THEATER_NUM,THEATER_NAME from theater
		<where>
			THEATER_NAME like concat('%', #{jj}, '%')
		</where>
	</select>
	
	<!-- Insert Part! -->
	<insert id="insertCheyongApply" parameterType="model.DTO.CheyongApplyDTO">
		insert into resume (<include refid="CheyongApplyColumns"/>)
		values(nextval('seq'),#{che_num},#{m_num},#{r_hijijom},#{r_gadate},#{r_time},#{r_dis},#{r_price},#{r_career},#{r_per},#{r_jiwon},now(),'열람대기중')
	</insert>
	<insert id="insertCheyong" parameterType="model.DTO.CheyongAddDTO">
		insert into gonggo(<include refid="CheyongColumns" />)
		 values(nextval('seq'),#{che_subject},#{che_jijom},#{che_person},#{che_jogun},#{che_bocri},#{che_jagyuc},#{che_gita},#{che_sijac_string},#{che_magam_string})
	</insert>
	<!-- Update Part! -->
	<update id="updateReadBtn" parameterType="string">
		update resume set R_JIN='열람' <where>R_NUM=#{r_num}</where>
	</update>
	<update id="updateApply" parameterType="model.DTO.CheyongAddDTO">
		update resume set R_GADATE=#{r_gadate},R_TIME=#{r_time},R_DIS=#{r_dis},R_PRICE=#{r_price},R_CAREER=#{r_career},R_PER=#{r_per},R_JIWON=#{r_jiwon}
		<where>
			R_NUM=#{r_num}
		</where>
	</update>
	<!-- Delete Part! -->
	<delete id="deleteApply" parameterType="string">
		delete from resume
		<where>R_NUM=#{r_num}</where>
	</delete>
</mapper>