<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="couponMapper">
	<cache />
	<sql id="CouponColumns">
		C_NUM,C_SPE,C_NAME,C_CONTENT,C_SCORE,C_SYMBOL
	</sql>
	<sql id="BalcuColumns">
		BALCU_NUM,C_NUM,M_NUM,C_DATE,C_EDATE,C_USED
	</sql>
	<!-- Select Map Part -->
	<resultMap type="model.DTO.CouponDTO" id="couponMap">
		<id column="C_NUM" jdbcType="VARCHAR" property="c_num"/>
		<result column="C_SPE" jdbcType="VARCHAR" property="c_spe"/>
		<result column="C_NAME" jdbcType="VARCHAR" property="c_name"/>
		<result column="C_CONTENT" jdbcType="VARCHAR" property="c_content"/>
		<result column="C_SCORE" jdbcType="VARCHAR" property="c_score"/>
		<result column="C_SYMBOL" jdbcType="VARCHAR" property="c_symbol"/>
		<result column="MENU_NAME" jdbcType="VARCHAR" property="menu_name"/>
		<result column="MENU_TYPE" jdbcType="VARCHAR" property="menu_type"/>
		<result column="BALCU_NUM" jdbcType="VARCHAR" property="balcuNum"/>
		<result column="M_NUM" jdbcType="VARCHAR" property="mNum"/>
		<result column="C_DATE" jdbcType="DATE" property="cDate"/>
		<result column="C_EDATE" jdbcType="DATE" property="cEDate"/>
		<result column="C_USED" jdbcType="VARCHAR" property="cUsed"/>
	</resultMap>
	<!-- Select Part! -->
	<select id="selectListsForMemberS" parameterType="model.DTO.CouponDTO" resultMap="couponMap">
		select b.BALCU_NUM,c.C_NAME,c.C_SPE,c.C_CONTENT,c.C_SCORE,c.C_SYMBOL,b.M_NUM,b.C_DATE,b.C_EDATE,b.C_USED 
		from balcu b,coupon c where c.C_NUM=b.C_NUM and b.M_NUM=#{mNum} and c.C_SPE not like concat('%', #{c_spe} , '%')
	</select>
	<select id="selectListsForMemberM" parameterType="model.DTO.CouponDTO" resultMap="couponMap">
		select b.BALCU_NUM,c.C_NAME,c.C_SPE,c.C_CONTENT,c.C_SCORE,c.C_SYMBOL,b.M_NUM,b.C_DATE,b.C_EDATE,b.C_USED 
		from balcu b,coupon c where c.C_NUM=b.C_NUM and b.M_NUM=#{mNum} and c.C_SPE=#{c_spe}
	</select>
	<select id="selectListsM" parameterType="string" resultMap="couponMap">
		select b.BALCU_NUM,c.C_NAME,c.C_SPE,c.C_CONTENT,c.C_SCORE,c.C_SYMBOL,b.M_NUM,b.C_DATE,b.C_EDATE,b.C_USED 
		from balcu b,coupon c where c.C_NUM=b.C_NUM and b.M_NUM=#{num}
	</select>
	<select id="selectLists" resultMap="couponMap">
		select <include refid="CouponColumns" /> from coupon
	</select>
	<select id="selectmenuTypes" resultMap="couponMap">
		select distinct MENU_TYPE from menu
	</select>
	<select id="selectmenuNames" parameterType="string" resultMap="couponMap">
		select MENU_NAME from menu
		<where>
			MENU_TYPE = #{menuType}
		</where>
	</select>
	<!-- Insert Part! -->
	<insert id="insertCoupon" parameterType="model.DTO.CouponDTO">
		insert into coupon (<include refid="CouponColumns" />) values(nextval('seq'),#{c_spe},#{c_name},#{c_content},#{c_score},#{c_symbol})
	</insert>
	<!-- Delete Part! -->
	<delete id="deleteCoupons">
		delete from coupon
		<where>
			<if test="seqs != null">
				c_num in
				<foreach collection="seqs" item="couponSeq" index="index" open="(" close=")" separator=",">
					#{couponSeq}
				</foreach>
			</if>
		</where>
	</delete>
</mapper>