<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="screenMapper">
	<cache />
	<sql id="basecolumn">
		screen_num, screen_name, theater_num, theater_name, screen_max_seat, screen_row, screen_rating
	</sql>
	
	<insert id="insertScreen" parameterType="model.DTO.ScreenDTO">
		insert into screen (<include refid="basecolumn" />) values ( CONCAT('SC_', (LPAD((SELECT nextval('seq')),4,0))), #{screen_name}, #{theater_num}, #{theater_name}, #{screen_max_seat}, #{screen_row}, #{screen_rating})
	</insert>
	
	<select id="selectScreenByTheaterNum" parameterType="model.DTO.TheaterAddDTO" resultMap="baseScreenMap">
		select <include refid="basecolumn" /> from screen where theater_num=#{value}
	</select>
	
	<select id="selectScreenByInfo" parameterType="model.DTO.ScreenDTO" resultMap="baseScreenMap">
		select <include refid="basecolumn" /> from screen where screen_num=#{screen_num}
	</select>
	
	<update id="modifyScreen" parameterType="model.DTO.ScreenDTO">
		update screen set screen_name=#{screen_name}, screen_max_seat=#{screen_max_seat}, screen_row=#{screen_row} where screen_num=#{screen_num}
	</update>
	
	<update id="deleteScreen" parameterType="string">
		delete from screen where screen_num=#{screen_num}
	</update>
	
	<resultMap type="model.DTO.ScreenDTO" id="baseScreenMap">
		<id column="screen_num" jdbcType="VARCHAR" property="screen_num" />
		<id column="theater_num" jdbcType="VARCHAR" property="theater_num" />
		<result column="screen_name" jdbcType="VARCHAR" property="screen_name" />
		<result column="theater_name" jdbcType="VARCHAR" property="theater_name" />
		<result column="screen_max_seat" jdbcType="BIGINT" property="screen_max_seat" />
		<result column="screen_row" jdbcType="VARCHAR" property="screen_row" />
		<result column="screen_rating" jdbcType="VARCHAR" property="screen_rating" />
	</resultMap>
</mapper>