<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="showtimeReserveMapper">
	<cache />
	
	<sql id="basecolumn">
		seat_reserve_num, show_num, m_num, seat_num, seat_name, seat_price
	</sql>
	
	<insert id="insertReserve" parameterType="model.DTO.ShowtimeReserveDTO">
		insert into movie_reserve (<include refid="basecolumn" />) values ( CONCAT('ST_', (LPAD((SELECT nextval('seq')),4,0))), #{show_num}, #{m_num}, #{seat_num}, #{seat_name}, #{seat_price})
	</insert>
	
</mapper>